<% provide(:title, 'All items') %>

<h1>All items</h1>

<div>
  <p>
    Optional search tags: <i>Raw Crafting Material</i>, <i>Prime Part</i>, <i>Warframe Primary Weapon</i>
  </p>
  <%= form_tag(items_path, method: "get", id: "search-form") do %>
    <%= label_tag(:search, "Search for:") %>
    <%= text_field_tag(:search) %>
    <%= submit_tag 'Search', name: nil %>
  <% end %>
</div>

<div>
  <div class="item-slot-filter">
    <ul>
      <li>Item slot > </li>
      <% @itemTypes.each do |type| %>
        <li><a href="#"><%= type.description %></a></li>
      <% end %>
    </ul>
  </div>
  
  <div class="item-source-filter">
    <ul>
      <li> < Crafting source</li>
      <% @itemTypes.each do |type| %>
        <li><a href="#"><%= type.description %></a></li>
      <% end %>
    </ul>
  </div>
</div>

<%= will_paginate %>


<table class="item-table pretty">
  
  <tr>
    <th>Img</th>
    <th><%= sortable "name" %></th>
    <th><%= sortable "description" %></th>
    <th><%= sortable "type_id", "Item Type" %></th>
  </tr>
  
  <% @items.each do |item| %>
    <%= render item %>
  <% end %>
  
</table>

<%= will_paginate %>

<script>

</script>