<% provide(:title, 'Add item') %>
<h1>Add new item</h1>

<div>
  Guidelines:
  <ul>
    <li>Name, description, image and item type attributes are mandatory</li>
    <li>If an item is constructed out of 2 identical weapons, use 2 separate component selectors with quantity:1 instead of one with quantity:2</li>
    <li>Leave all component selectors blank when adding raw materials to the database</li>
    <li>Images will NOT be scaled to 200x200px size before upload so make sure you upload small images</li>
  </ul>
</div>

<%= form_for @item, :html => {:multipart => true, :class => "add-item-form"} do |f| %>
  <%= render 'shared/error_messages_item' %>

  <div class="new_left">
    <%= f.label :name, "Name:" %>
    <%= f.text_field :name, class: 'form-control' %> 

    <%= f.label :description, "Description:" %>
    <%= f.text_area :description, class: 'form-control' %>
    <br/>
    
    <%= f.label :item_type_id, "Item type:" %>
    <%= f.collection_select :item_type_id, ItemType.all.order(:name), :id, :description, :include_blank => true %>
    
  </div>
  
  <div class="new_right">
    <%= f.label :image, "Select image:" %>
    <%= f.file_field :image %>
    <div id="target"></div>
  </div>
  
  <div class="clear_float">
    <h3>Crafting components:</h3>
  </div>
  


  <div class="clear_float"></div>

  <%= f.submit "Add item", class: "btn btn-primary" %>
<% end %>



<script>
  $(function(){
    $('#item_image').on('change', function(event) {
      var files = event.target.files;
      var image = files[0]
      // here's the file size
      console.log(image.size);
      var reader = new FileReader();
      reader.onload = function(file) {
        var img = new Image();
        console.log(file);
        img.src = file.target.result;
        
        // resize image
        var MAX_WIDTH = 200;
        var MAX_HEIGHT = 200;
        var width = img.width;
        var height = img.height;
         
        if (width > height) {
          if (width > MAX_WIDTH) {
            height *= MAX_WIDTH / width;
            width = MAX_WIDTH;
          }
        } else {
          if (height > MAX_HEIGHT) {
            width *= MAX_HEIGHT / height;
            height = MAX_HEIGHT;
          }
        }
        img.width = width;
        img.height = height;
        
        $('#target').html(img);
      }
      reader.readAsDataURL(image);
      console.log(files);
    });
  });
</script>