<% provide(:title, @item.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      
      <h1>
        <%= @item.name %>
      </h1>
      
      <p>
         <%= @item.description %>
      </p>
      
      <p>
        Item type: <%= @itemType.description %>
      </p>
      
      <p>
        Image: <br/>
        <%= image_tag @item.image.url %>
        <%= image_tag @item.image.url(:medium) %>
        <%= image_tag @item.image.url(:thumb) %>
      </p>
      
      <p>
        <h3>Admin options:</h3>
        <%= link_to "Edit item", edit_item_path(@item) %>
        <% if current_user.admin? %>
          | 
          <%= link_to "Delete item", @item, method: :delete,
                                        data: { confirm: "You sure?" } %>
        <% end %>
      </p>
      
    </section>
  </aside>
</div>