@import "bootstrap-sprockets";
@import "bootstrap";

$light-gray: #777;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $light-gray;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: $light-gray;
  
  a {
    color: #555;
    &:hover {
      color: #222;
    }
  }
  
  small {
    float: left;
  }
  
  ul {
    float: right;
    list-style: none;
    
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}


/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}


/* Item index */

.item-slot-filter {
  ul {
    list-style-type: none;
    overflow: hidden;
    background-color: #333333;
  }
  
  li {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 5px;
    text-decoration: none;
    a {
      color: gold;
      text-decoration: none;
      &:hover {
        background-color: #111111;
      }
    }
  }
}

.item-source-filter {
  ul {
    list-style-type: none;
    overflow: hidden;
    background-color: #333333;
  }
  
  li {
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 5px;
    text-decoration: none;
    a {
      color: red;
      text-decoration: none;
      &:hover {
        background-color: #111111;
      }
    }
  }
}

.item-table {
  tr {
    td {
      padding-bottom: 10px;  
    }
  }
}


.pretty th .current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
}

.pretty th .asc {
  background-image: image-url("up_arrow.gif");
  
}

.pretty th .desc {
  background-image: image-url("down_arrow.gif");
}

/* New item creation */

.add-item-form {
  width: auto;
  
  input[type="number"] {
    width: 70px;
  }
  
  input[type="text"] {
    width: 300px;
  }
  
  select {
    width: 200px;
  }
  
  textarea {
    width: 300px;
  }
  
}

.new_left {
  float: left;
  width: 50%;
}

.new_right {
  float: left;
  width: 50%;
}

#target {
  width: 200px;
  height: 200px;
}

.clear_float {
  clear: both;
  padding-top: 50px;
}

